body {
	#overflow: hidden;
	font-family: Arial;
	text-align: center;
	
	-ms-user-select: None;
	-moz-user-select: None;
	-webkit-user-select: None;
	user-select: None; 
}

#div_body {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
	display: flex;
	flex-flow: column;
}

#div_button_top {
	padding-left: 60px;
	padding-right: 60px;
	display: flex;
	justify-content: center;
}

#div_main {
	flex-grow: 1;
	display: flex;
	flex-flow: row;
}

#div_button_side {
	width: 60px;
}

#div_simulation {
	flex-grow: 1;
	margin-top: 2px;
	margin-bottom: 2px;
	line-height: 0;
	border: 2px ridge darkgrey;
}

#defaultCanvas0 {
	border-radius: 5px;
}

#div_footer {
	height: 20px;
}

div {
	background-color: silver;
}

.button_top {
	height: 60px;
	width: 60px;
}

.button_side {
	height: 50px;
	width: 50px;
}

button {
	font-size: 18px;
	font-weight: bold;
	margin: 2px;
	background-color: lightgrey;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 5px;
}

.button_top_placeholder {
	margin-right: 40px;
}

.button_side_placeholder {
	margin-bottom: 20px;
}

.button_gate {
	background-image: url('./images/gate.png' );
}

.button_ngate {
	background-image: url('./images/ngate.png' );
}

.button_not {
	background-image: url('./images/not.png' );
}

.button_cursor {
	background-image: url('./images/cursor.png' );
}

.button_wire {
	background-image: url('./images/wire.png' );
}

.button_input {
	background-image: url('./images/input.png' );
}

.button_output {
	background-image: url('./images/output.png' );
}

.button_fixed {
	background-image: url('./images/fixed.png' );
}

.button_manual {
	background-image: url('./images/manual.png' );
}

.button_task {
	background-image: url('./images/task.png' );
}

.button_check {
	background-image: url('./images/check.png' );
}

.button_load {
	background-image: url('./images/load.png' );
}

.button_save {
	background-image: url('./images/save.png' );
}

.button_zoomin {
	background-image: url('./images/zoomin.png' );
}

.button_zoomout {
	background-image: url('./images/zoomout.png' );
}

.button_fit {
	background-image: url('./images/fit.png' );
}

.button_up {
	background-image: url('./images/up.png' );
}

.button_down {
	background-image: url('./images/down.png' );
}

.button_left {
	background-image: url('./images/left.png' );
}

.button_right {
	background-image: url('./images/right.png' );
}

#p_footer {
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
}

.click_blue:hover {
	color: blue;
	cursor: pointer;
}